@use 'variables' as v;
@use 'mixins' as m;
@use 'typography' as t;

.header {
  align-items: center;
  border-bottom: 1px solid v.$black;
  display: flex;
}

.logo {
  grid-column: span 2;
}

.nav {
  align-items: center;
  display: flex;
  grid-column: 7 / span 5;
  justify-content: flex-end;
}
