@use 'variables' as v;
@use 'mixins' as m;
@use 'typography' as t;

.hero {
  max-width: 500px;
  margin: 30px auto;
}

/*
* ============================================
* Hero Default
* ============================================
* Description: Alternate styles for default variation
*/

.heroDefault {
  max-width: 700px;
}
